<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>List Customers</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - CRM Customer Application</h2>
        </div>
    </div>

    <div id="container">
        <div id="content">
            <input type="button" value="Add Customer"
                onclick="window.location.href='/customer/showFormForAdd'; return false;"
                class="add-button" />

            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${customers}">
                        <td th:text="${{c.firstName}}"></td>
                        <td th:text="${{c.lastName}}"></td>
                        <td th:text="${{c.email}}"></td>
                        <td>
                            <a th:href="@{/customer/showFormForUpdate(customerId=${c.id})}">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>